.customlb{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    // background-color: var(--primary-50);
    background-color: var(--primary-70);
    z-index: 1;

    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;

    &-title{
        font-size: 16px;
        line-height: 1;
        color: white;
    }
}

@keyframes fadeinout {
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
  }